/* it work!*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

hr {
    border: #dddddd;
    height: 3px;
    background-color:#dddddd;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.about-me {
   color: #4aaaa5;
   padding-left: 0px;
   padding-top: 0px;
}

.main {
   background-image: url(../images/criss-cross.png);
   height: 1000px;
   overflow: auto;
}

.header {
    border-bottom: 3px solid #dddddd;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #ffffff;
}

.inner-header {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
    float: left;
    background-color: #4aaaa5;
    margin-left: 410px;
    margin-top: 5px;
}

ul {
    float: right;
    margin-top: 30px;
}

.navigation  li { 
    display: inline-block;
}
    
.navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
    border: 1px solid #dddddd;
    width: 600px;
    background-color: #ffffff;
    margin: 0 auto;
    height: 70%;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 40px;
}

footer {
    clear: both;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    text-align: center;
    color: #cccccc;
    position: sticky;
    bottom: 0%;
    height: 50px;
}
